
@{
    ViewBag.Title = "FeedbackView";
}

<h2>Leave Feedback!</h2>
<p>Your feedback for Watchr is greatly appreciated and will help us improve your experience!</p>
<h3>Comments</h3>
<input type="text" id="comments" />
<h3>Rating</h3>
<select id="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>

</select>
<button id="submitButton" type="button" class="btn btn-success">Submit</button>
<br />
<div id="thanks" style="display:none">@Html.Partial("SendFeedback")</div>

<script>
    $(document).on('click', '#submitButton', function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SendFeedback","Feedback")',
            data: {
                comments: $("#comments").val(),
                rating: $("#rating").val()
                },
            success: function (partialViewResult) {
                $("#thanks").css("display", "block");
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
            }
        });
    });
</script>

