@{
    ViewBag.Title = "Home Page";
}

<div style="margin: 20px auto; width: 90%; height: auto; padding: 20px; background-color: #EFEFEF; text-align: center; border-radius: 10px;">
    <p style=" font-size: 25px; font-weight: bold; ">Let Watchr find movies for you!</p>
    <p style="font-size: 20px;">How it works:</p>
    <p>1. Create your account with us.</p>
    <p>2. We'll show you a few movies, and you tell us which ones you like and dislike.</p>
    <p>3. Based on the movies you like and dislike, we'll recommend new movies for you to watch!</p>
    <p style="font-size: 20px;">It's that simple!</p>
</div>