<h2>Movie Releases This Week</h2>

<p>
    Avengers: Inifinity Wars (2018)
<p>
    A Quiet Place (2018)
</p>
<p>
    Rampage (2018)
</p>
<p>
    I Feel Pretty (2018)
</p>
<p>
    Truth or Dare (2018)
</p>
<p>
    Blockers (2018)
</p>
<p>
    Ready Player One (2018)
</p>
<p>
    Tyler Perry's Acrimony (2018)
</p>

