<h2>Trending Movies</h2>

<p>
    Quiet Place (2018)
</p>
<p>Rampage (2018)</p>
<p>I Feel Pretty (2018)</p>
<p>Super Troopers 2 (2018)</p>
<p>Truth or Dare (2018)</p>
<p>Ready Player One (2018)</p>
<p>Blockers (2018)</p>
<p>Black Panther (2018)</p>
<p>Traffik (2018)</p>
<p>Isle of Dogs (2018)</p>

